.currentAmount{
  font-family: myFont;
  text-align: center;
  margin-top: 80px;
  font-size: 36px;
  font-weight: bold;
  color: #00632b;
}

.buildingCookie{
  font-family: myFont;
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #00632b;
}

.mainCookie{
  background-image: url('/img/cookie.png');
  position: absolute;
  margin:auto;
  margin-left: 25%;
  margin-top: 20px;
  height: 225px;
  width: 225px;
}
