@font-face {
    font-family: myFont;
    src: url('/fonts/PlayfairDisplay-Bold.ttf');
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.upperSize{

}
.cookie{

}
.currentAmount{
  font-family: myFont;
  text-align: center;
  margin-top: 80px;
  font-size: 36px;
  font-weight: bold;
  color: #00632b;
}

.buildingCookie{
  font-family: myFont;
  text-align: center;
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #00632b;
}

.mainCookie{
  background-image: url('/img/cookie.png');
  position: absolute;
  margin:auto;
  margin-left: 25%;
  margin-top: 20px;
  height: 225px;
  width: 225px;
}

.left {
    left: 0;
    background-color: white;
    width: 30%;
}

.middle{
  width: 35%;
  left: 30%;
  background-color: white;
  border-left: 1px solid black;
}

.right {
    left: 65%;
    background-color: white;
    border-left: 1px solid black;
    width: 35%;
}

.buildingButton{
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
height: 10%;
margin-bottom:10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered img {
    width: 150px;
    border-radius: 50%;
}
