body {
    color: white;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-image: url('/img/bgLeftBackground.jpg');
    width: 30%;
}

.upperSize{

}

.cookie{

}

.currentAmount{
  text-align: center;
  margin-top: 80px;
  font-size: 24px;
}

.buildingCookie{
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}

.mainCookie{
  background-image: url('/img/cookie.png');
  position: absolute;
  margin:auto;
  margin-left: 176px;
  margin-top: 20px;
  height: 225px;
  width: 225px;
}

.middle{
  width: 35%;
  left: 30%;
  background-color: green;
}

.right {
    left: 65%;
    background-color: red;
    width: 35%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered img {
    width: 150px;
    border-radius: 50%;
}
