<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Klikkelős játék</title>
    <link rel="stylesheet" type="text/css" href="styles\main.css">
    <link rel="stylesheet" type="text/css" href="styles\navbar.css">
    <link rel="stylesheet" type="text/css" href="styles\buttons.css">
    <link rel="stylesheet" type="text/css" href="styles\leftSide.css">
    <link rel="stylesheet" type="text/css" href="styles\middleSide.css">
    <link rel="stylesheet" type="text/css" href="styles\rigthSide.css">

    <div class="topnav">
     <a class="active" href="#">Kezdőlap</a>
     <a href="#">Mentés</a>
   </div>

</head>
<body>
  <div id="vue-app">
    <div class="split left">
      <div class="upperSize">
          <div class="cookie">
              <div class="currentAmount"> {{ actualCookies }}  </div>
              <div class="buildingCookie"> {{ buildingCookie }}  </div>
              <input type="button" id="mainCookieId" class="mainCookie" v-on:click="clickMainCookie">
          </div>
      </div>
    </div>

    <div class="split middle">
      <div class="middleUp">
        <div class="statistics">
          <p v-for="buildingAmmount in buildingsInfo" v-bind:id="buildingAmmount.name" >{{buildingAmmount.name}} - {{buildingAmmount.ammount}}</p>
        </div>
      </div>
      <div class="middleDown">
          <div class="upgrades">
            <button v-for="upgrade in upgradeInfo" class="upgradeButton" v-bind:id="upgrade.id" v-on:click="buyUpgrade(upgrade.name)">{{upgrade.cost}}</button>
          </div>
      </div>
    </div>

    <div class="split right">
        <div class=buildings>
            <input type="button" v-for="building in buildingsInfo" v-bind:value="building.cost" class="buildingButton"  v-bind:id="building.id" v-on:click="buyBuilding(building.name)">
        </div>
      </div>
    </div>
  </div>

    <script src="components\app.js"></script>
    <scritp scr="components\save.js"></scritp>
</body>

</html>
